/* Colors definition */
:root{
    --color-blue: #3a83f6;
    --color-blue-hover: #2563ea;
    --color-gray: #F3F5F5;
    --color-border-gray: #D3D3D3;
    --border-radius: 5px;
}

/* Default elements */
body{
    top: 0;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: auto auto;
    background-color: var(--color-gray);
    font-family: Arial;
}
header{
    grid-column: 1;
    grid-row: 1/3;
    min-height: 100vh;
}
select{
    border-radius: var(--border-radius);
    border: 1px solid var(--color-border-gray);
    height: 30px;
    box-sizing: border-box;
    background-color: white;
}
textarea{
    border-radius: var(--border-radius);
    border: 1px solid var(--color-border-gray);
    box-sizing: border-box;
}
input{
    border-radius: var(--border-radius);
    border: 1px solid var(--color-border-gray);
    height: 30px;
    padding: 10px;
    box-sizing: border-box;
}
button{
    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
    background-color: var(--color-blue);
    border: 0px;
    height: 30px;
    padding: 10px;
    color: white;
    cursor: pointer;
}
button:hover{
    background-color: var(--color-blue-hover);
}


/* Menu */
.list-style-type-none{
    list-style-type: none;
}
.menu-list{
    padding: 0px;
}
.menu-list li a{
    text-decoration: none;
    color: white;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}
.menu-list li div{
    height: 35px;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}
.menu-list li div:hover{
    background-color: var(--color-blue-hover);
    border-radius: var(--border-radius);
}

/* Form pujar tasca (index.html) */
.form-pujar-tasca{
    height: 75px;
    background-color: white;
}

/* Form crear tasca (crear-tasca.html) */
.form-crear-tasca{
    background-color: white;
    height: auto;
}

/* Box */
.box-sizing-border-box{
    box-sizing: border-box;
}

/* Height */
.heigth-30px{
    height: 30px;
}

.min-height-20px{
    min-height: 20px;
}


/* Width */
.width-100pc{
    width: 100%;
}

/* Margin */
.margin-left-5pc{
    margin-left: 5%;
}
.margin-right-5pc{
    margin-right: 5%;
}
.margin-left-30pc{
    margin-left: 30%;
}
.margin-right-30pc{
    margin-right: 30%;
}


.margin-left-15px{
    margin-left: 15px;
}
.margin-top-20px{
    margin-top: 20px;
}

/* Padding */
.padding-left-20px{
    padding-left: 20px;
}
.padding-right-20px{
    padding-right: 20px;
}

.padding-3px-5px{
    padding: 3px 5px;
}
.padding-10px{
    padding: 10px;
}
.padding-20px{
    padding: 20px;
}

/* Gap */
.gap-15px{
    gap: 15px;
}
.gap-20px{
    gap: 20px;
}

/* Flex */
.flex{
    display: flex;
}
.flex-direction-column{
    flex-direction: column;
}

/* Align */
.justify-content-center{
    justify-content: center;
}
.justify-content-space-between{
    justify-content: space-between;
}
.align-items-center{
    align-items: center;
}
.align-items-flex-start{
    align-items: flex-start;
}
.text-align-center{
    text-align: center;
}
.text-align-start{
    text-align: start;
}

/* Grid */
.grid{
    display: grid;
}

/* Text */


/* Border */
.border-radius{
    border-radius: var(--border-radius);
}
.border-0px{
    border: 0px;
}
.border-color-border-gray{
    border: 1px solid var(--color-border-gray);
}


/* Cursor */
.cursor-pointer{
    cursor: pointer;
}

/* Colors */
.bg-color-blue{
    background-color: var(--color-blue);
}
.bg-color-white{
    background-color: white;
}
.color-white{
    color: white;
}